/* skill */
.skill{
    padding:30px 0;
}
.skill img{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.skill p{
    margin:10px;

    font-size:30px;
}

.left h2{
    font-weight:50;
    color:black;
}
.Tittle h1{
    
    font-weight:100;
    font-size:50px;
}
.Tittle{
    position: relative;
}
.Tittle:after{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width: 15%;
    height: 2px;
    background: blue;
}
.left p{
    font-size:20px;
    color:gray;
}
.left button{
    font-size:25px;
    padding: 5px 20px;
    width: 100%;
}