
.top h1{
    /* color:white; */
    padding-top:20px;
    font-weight:100;
    font-size:50px;
}

.top{
    position: relative;
}
.top:after{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width: 20%;
    height: 2px;
    background: blue;
}