/* .Top{
    border-top:2px solid black;
} */
.on button{

   border-radius: 25px;
   border: none;
   outline: none;
   padding: 10px 20px;
   color:red;
   font-size:20px;
   background-position: right center;
   background-image: linear-gradient(to top left, #00FF00 0%, #FFFF00 51%, #00FF00 100%);
}
.on button:hover{
   background-position: right center;
   background-image: linear-gradient(to top right, #00FF00 0%, #FFFF00 51%, #00FF00 100%);
}
.on h3{
   font-weight: 20;
}


/* under */
.under p{
   font-size:20px;
}
.left p span i{
   text-align: center;
   /* padding:10px 15px; */
   background: orange;
   border-radius: 50%;
}
.left a{
   color:white;
}
.left p span:last-child{
   position: relative;
}
.left p span:last-child:after{
   content:'';
   position: absolute;
   top:50%;
   left:0;
   width:0;
   height:2px;
   background: orange;
}
.left p span:last-child:hover{
   color:orange;
   padding-left:35px;
   transition:all 1s;
}
.left p span:last-child:hover:after{
   color:orange;
   padding-left:30px;
   transition:all 1s;
   width: 20px;
}
.left p span:hover a{
   color:orange;
}

.center span i{
   margin-top:10px;
   font-size:30px;
   color:orange;
   text-align: center;
   /* padding:10px 15px; */
}
.center a{
   font-size:25px;
   color:white;
   text-decoration: none;
}
.ct{
   position: relative;
}
.ct:after{
   content:'';
   position: absolute;
   top:50%;
   left:0;
   width:0;
   height:2px;
   background: orange
}
.ct:hover a{
   color:orange;
   padding-left:30px;
   transition:all 1s;
}
.ct:hover:after{
   color:orange;
   
   transition:all 1s;
   width: 25px;
}


.right span i{
   margin-top:10px;
   font-size:30px;
   color:orange;
   text-align: center;
   /* padding:10px 15px; */
}
.right a{
   font-size:25px;
   color:white;
   text-decoration: none;
}
.star span:hover i{
  
   animation: rotate1 2s linear infinite;
}
@keyframes rotate1 {
   0%{
       transform: scale(0.4);
   }
   100%{
       transform: scale(1.6);
   }
}
.footer2{
    display: none;
}
.RightFooter2 .resIcon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.RightFooter2 .resIcon p{
    border: 1px solid yellow;
}
.LeftFooter2 .ct a{
    color:white;
    text-decoration: none;
    font-size:25px;
}
.LeftFooter2 .star i{
    font-size:25px;
}
/* responsive */
@media screen and (max-width: 800px){
    .footer2{
        display: block;
    }
    .footer1{
        display: none;
    }
}
