

 .under{
     background:rgba(5, 5, 245,0.3);
     background-size:cover;
     background-position: center;
 }


 /* center */
 .center .form{
     text-align: center;
 }
 .example-container > * {
    width: 80%;
  }

  .center .social{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .center .social p{
      padding:5px 20px;
      font-size:30px;
      /* border:1px solid red; */
      color:white;
      background: blue;
  }
  .center h1,.left h1,.right h1{
    text-align:center;
    color:white;
    font-weight: 100;
    background:green;
    margin:10px 0;
    border-radius:10px;
 }

 /* left */
 .left .contact i{
     font-size:30px;
 }
 .left .contact span{
     /* color:white; */
     font-size:20px;
 }
 .left{
     color:black;
     line-height: 20px;
     
 }
 /* produceBy */
 .produceBy{
     background: black;
     text-align: center;
     font-size:30px;
     color:gray;
     padding:5px 0;
 }
 