<section class="my-5 Top">
  <div class="container">
    <div class="text-center on">
      <button class="btn mb-3 mt-5">SUBCRIBE ME</button>
      <h3> Study is the fastest path to success</h3>
    </div>
  </div>
</section>
<section class="" style="  background-image: linear-gradient(to bottom right, #00FFFF 35%, #00FF00);">
  <div class="container pt-3 text-white under">
    <div class="row ">
      <div class="col-4 left">
        <h3>Connect with me</h3>
        <p>
          <span>
            <i class="fa fa-mobile  mr-1" style="font-size:40px;padding:7px 20px"></i>
          </span>
          <span>01663000784</span>
        </p>
        <p>
          <span>
            <i class="fa fa-envelope-o  mr-1" style="font-size:30px;padding:10px 14px"></i>
          </span>
          <span>lethu210398@gmail.com</span>
        </p>
        <p>
          <span>
            <i class="fa fa-facebook  mr-1" style="font-size:30px;padding:10px 19px"></i>
          </span>
          <span>
            <a href="https://www.facebook.com/">Thu Kara</a>
          </span>
        </p>
        <p>
          <span>
            <i class="fa fa-skype mr-1" style="font-size:30px;padding:8px 15px"></i>
          </span>
          <span>
            <a href="https://www.facebook.com/">thulee</a>
          </span>
        </p>
      </div>
      <div class="col-4 center">
        <h3>Support</h3>
        <!-- <ul> -->
        <div class="row">
          <div class="col-2 star">
            <span>
              <i class="fa fa-dot-circle-o"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Hướng dẫn học tại CyberSoft Academy</a>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-2 star">
            <span>
              <i class="fa fa-dot-circle-o"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Hướng dẫn nộp học phí</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 star">
            <span>
              <i class="fa fa-dot-circle-o"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Bài viết lập trình</a>
          </div>
        </div>
        <div class="row">
          <div class="col-2 star">
            <span>
              <i class="fa fa-dot-circle-o"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Điều khoản sử dụng</a>
          </div>
        </div>
      </div>
      <div class="col-4 right">
        <h3>My center</h3>
        <div class="row">
          <div class="col-2 star">
            <span>
                <i class="fa fa-star"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Danh mục khoa học</a>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-2 star">
            <span>
                <i class="fa fa-star"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Thanh toán nạp điểm</a>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2 star">
            <span>
                <i class="fa fa-star"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">Câu hỏi thường gặp</a>
          </div>
        </div>
        <div class="row">
          <div class="col-2 star">
            <span>
                <i class="fa fa-star"></i>
            </span>
          </div>
          <div class="col-10 ct">
            <a href="https://myclass.vn/">giảng dạy tai CyberSoft Academy</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <p class="text-center text-white py-2" style="font-size:30px;">
        code by Thu Kara
    </p>
  </div>
</section>