<section class="slider">
    <div class="container">
      <div class="row">
        <div class="col-8 left">
          <div class="owl-carousel owl-theme" id="owl-left">
            <div class="item" *ngFor="let imgItem of listSlider">
              <img [src]="imgItem.img" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-4 right">
          <div class="row">
            <div class="col-12">
              <div class="Hover">
                <img src="../../../assets/img/slider1.png">
              </div>
            </div>
            <div class="col-12 mt-1">
              <div class="Hover">
                <img src="../../../assets/img/silder3.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>