#sliderImg img{
    width:100%;
    height:550px;
}
.Slider{
    z-index: 0;
    position: relative;
}
.Content{
    z-index: 100;
    position: absolute;
    top:20%;
    left:10%;
}
.Content p{
    color:blue;
    font-size:25px;
    text-align: center;
}
.Content h2{
    letter-spacing: 20px;
    color:blue;
    font-size:40px;
    font-weight:100;
    margin-top:20px;
    padding-left:20px;
}
.Content button{
    font-size:25px;
    padding:5px 30px;
}