<div class="card mt-4" *ngIf="status" >
    <img [src]="itemCourse.HinhAnh" class="img-fluid">
    <div class="card-body ">
      <h4 class="nameCourse">
        <a href="#" class="text-center">
          {{name}}
        </a>
      </h4>
      <p>By {{itemCourse.NguoiTao}}</p>
      <p>Price $999</p>
      <p>View  {{itemCourse.LuotXem}}</p>
      
      <!-- <button class="btn btn-success" style="width:100%" [routerLink]="['/detail',itemCourse.MaKhoaHoc]">View More</button> -->
      <button class="btn text-white" style="width:100%;background:#660066" [routerLink]="['/detail',itemCourse.MaKhoaHoc]">View More</button>
    </div>
  </div>
  