.header{
    width:85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:23px;
    font-weight: 100;
}
.header >ul{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
   
}
.header >ul li{
    list-style: none;
    margin-right:30px;
    padding-top:10px;
    
}
/* .header >ul li:first{
    border-right:2px solid gray;
} */
.header >ul li a{
    color:gray;
    text-decoration: none;
}


.dropdown-toggle::after{
    margin-left:20px;
}

/* responsive */
.resLogin{
    display: none;

}
.resLogin a{
    color:gray;
    text-decoration: none;
}
.resp_600{
    display: none;
    text-align: center;
    padding:10px 0;
  
}
@media screen and (max-width: 840px){
    .resLogin{
        display: block;
    }
    .header >ul{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .resp_600{
        display: block;
    }
    .header{
        display: none;
    }
}