<section class="navHeader fixed-top">
  <div class="container ">
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="#" style="">
        <img src="../../../assets/image/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto ul1">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto ul2">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/login">login/logout
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>