<section id="header2">
  <div class="container">
    <div>
      <img src="../../../assets/img/logo.png" class="img-fluid">
    </div>
    <div class="search">
      <div class="form-group">
        <input type="text" placeholder="Search">
        <button class="">Search</button>
      </div>
    </div>
  </div>
</section>

<section class="mynav">
  <div class="container">
    <!-- <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ul">
          <li class="nav-item">
            <a class="nav-link" href="#">list Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promotion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          
        </ul>
      </div>
    </nav> -->
    <ul class="ul">
      <li class="">
          
        <a class="" href="#"><i class="fa fa-home" style="color:greenyellow"></i>Home</a>
      </li>
      <li class="">
        <a class="" href="#"><i class="fa fa-eraser" style="color:orangered"></i>List Course</a>
      </li>
      <li class="">
        <a class="" href="#"> <i class="fa fa-external-link-square" style="color:blue"></i>Promotion</a>
      </li>
      <li class="">
        <a class="" href="#" ><i class="fa fa-users" style="color:#371860"></i>About us</a>
      </li>
      <li class="">
        <a class="" href="#"><i class="fa fa-compress" style="color:red"></i>ConTact us</a>
      </li>
    </ul>
  </div>
  <div class="manuIcon">
      <ul id="navigationMenu">
          <li>
              <a class="home" href="#">
                  <i class="fa fa-home" style=" background:greenyellow;padding:11px 13px;font-size:30px;"></i>
                  <span style=" background:greenyellow;height:52px">Home</span>
              </a>
          </li>
      
          <li>
              <a class="about" href="#">
                  <i class="fa fa-eraser" style=" background:orangered;padding:11px;font-size:30px;"></i>
                  <span style=" background:orangered">Course</span>
              </a>
          </li>
      
          <li>
               <a class="services" href="#">
                  <i class="fa fa-external-link-square" style=" background:violet;padding:11px 14px;font-size:30px;"></i>
                  <span style=" background:violet">Promotion</span>
               </a>
          </li>
      
          <li>
              <a class="portfolio" href="#">
                  <i class="fa fa-users" style=" background:#371860;padding:11px;font-size:30px;"></i>
                  <span style=" background:#371860">About</span>
              </a>
          </li>
      
          <li>
              <a class="contact" href="#">
                  <i class="fa fa-compress" style=" background:#b41623;padding:10px 14px;font-size:30px;"></i>
                  <span style=" background:#b41623;height:51px">Contact</span>
              </a>
          </li>
      </ul>
    </div>
</section>

